<h1>I M DASHBOARD TEMPLATE {{ dashboard.name }} {{ main.name }}</h1>
<section id="new">
  <h2 class="page-header">angular-ui-bootstrap</h2>
<div >
    <h4>Single toggle</h4>
    <pre>{{singleModel}}</pre>
    <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Single Toggle
    </button>
    <h4>Checkbox</h4>
    <pre>Model: {{checkModel}}</pre>
    <pre>Results: {{checkResults}}</pre>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
        <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label>
        <label class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</label>
    </div>
    <h4>Radio &amp; Uncheckable Radio</h4>
    <pre>{{radioModel || 'null'}}</pre>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
    </div>
    <div class="btn-group">
        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
    </div>
</div>
<h2 class="page-header">66 New Icons in 4.4</h2>
  <div class="row fontawesome-icon-list">
    

    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/500px"><i class="fa fa-500px"></i> 500px</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/amazon"><i class="fa fa-amazon"></i> amazon</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/balance-scale"><i class="fa fa-balance-scale"></i> balance-scale</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/battery-empty"><i class="fa fa-battery-0"></i> battery-0 <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/battery-quarter"><i class="fa fa-battery-1"></i> battery-1 <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/battery-half"><i class="fa fa-battery-2"></i> battery-2 <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/battery-three-quarters"><i class="fa fa-battery-3"></i> battery-3 <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/battery-full"><i class="fa fa-battery-4"></i> battery-4 <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/battery-empty"><i class="fa fa-battery-empty"></i> battery-empty</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/battery-full"><i class="fa fa-battery-full"></i> battery-full</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/battery-half"><i class="fa fa-battery-half"></i> battery-half</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/battery-quarter"><i class="fa fa-battery-quarter"></i> battery-quarter</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/battery-three-quarters"><i class="fa fa-battery-three-quarters"></i> battery-three-quarters</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/black-tie"><i class="fa fa-black-tie"></i> black-tie</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/calendar-check-o"><i class="fa fa-calendar-check-o"></i> calendar-check-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/calendar-minus-o"><i class="fa fa-calendar-minus-o"></i> calendar-minus-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/calendar-plus-o"><i class="fa fa-calendar-plus-o"></i> calendar-plus-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/calendar-times-o"><i class="fa fa-calendar-times-o"></i> calendar-times-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/cc-diners-club"><i class="fa fa-cc-diners-club"></i> cc-diners-club</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/cc-jcb"><i class="fa fa-cc-jcb"></i> cc-jcb</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/chrome"><i class="fa fa-chrome"></i> chrome</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/clone"><i class="fa fa-clone"></i> clone</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/commenting"><i class="fa fa-commenting"></i> commenting</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/commenting-o"><i class="fa fa-commenting-o"></i> commenting-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/contao"><i class="fa fa-contao"></i> contao</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/creative-commons"><i class="fa fa-creative-commons"></i> creative-commons</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/expeditedssl"><i class="fa fa-expeditedssl"></i> expeditedssl</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/firefox"><i class="fa fa-firefox"></i> firefox</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/fonticons"><i class="fa fa-fonticons"></i> fonticons</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/genderless"><i class="fa fa-genderless"></i> genderless</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/get-pocket"><i class="fa fa-get-pocket"></i> get-pocket</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/gg"><i class="fa fa-gg"></i> gg</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/gg-circle"><i class="fa fa-gg-circle"></i> gg-circle</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hand-rock-o"><i class="fa fa-hand-grab-o"></i> hand-grab-o <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hand-lizard-o"><i class="fa fa-hand-lizard-o"></i> hand-lizard-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hand-paper-o"><i class="fa fa-hand-paper-o"></i> hand-paper-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hand-peace-o"><i class="fa fa-hand-peace-o"></i> hand-peace-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hand-pointer-o"><i class="fa fa-hand-pointer-o"></i> hand-pointer-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hand-rock-o"><i class="fa fa-hand-rock-o"></i> hand-rock-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hand-scissors-o"><i class="fa fa-hand-scissors-o"></i> hand-scissors-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hand-spock-o"><i class="fa fa-hand-spock-o"></i> hand-spock-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hand-paper-o"><i class="fa fa-hand-stop-o"></i> hand-stop-o <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hourglass"><i class="fa fa-hourglass"></i> hourglass</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hourglass-start"><i class="fa fa-hourglass-1"></i> hourglass-1 <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hourglass-half"><i class="fa fa-hourglass-2"></i> hourglass-2 <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hourglass-end"><i class="fa fa-hourglass-3"></i> hourglass-3 <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hourglass-end"><i class="fa fa-hourglass-end"></i> hourglass-end</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hourglass-half"><i class="fa fa-hourglass-half"></i> hourglass-half</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hourglass-o"><i class="fa fa-hourglass-o"></i> hourglass-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/hourglass-start"><i class="fa fa-hourglass-start"></i> hourglass-start</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/houzz"><i class="fa fa-houzz"></i> houzz</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/i-cursor"><i class="fa fa-i-cursor"></i> i-cursor</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/industry"><i class="fa fa-industry"></i> industry</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/internet-explorer"><i class="fa fa-internet-explorer"></i> internet-explorer</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/map"><i class="fa fa-map"></i> map</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/map-o"><i class="fa fa-map-o"></i> map-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/map-pin"><i class="fa fa-map-pin"></i> map-pin</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/map-signs"><i class="fa fa-map-signs"></i> map-signs</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/mouse-pointer"><i class="fa fa-mouse-pointer"></i> mouse-pointer</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/object-group"><i class="fa fa-object-group"></i> object-group</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/object-ungroup"><i class="fa fa-object-ungroup"></i> object-ungroup</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/odnoklassniki"><i class="fa fa-odnoklassniki"></i> odnoklassniki</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/odnoklassniki-square"><i class="fa fa-odnoklassniki-square"></i> odnoklassniki-square</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/opencart"><i class="fa fa-opencart"></i> opencart</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/opera"><i class="fa fa-opera"></i> opera</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/optin-monster"><i class="fa fa-optin-monster"></i> optin-monster</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/registered"><i class="fa fa-registered"></i> registered</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/safari"><i class="fa fa-safari"></i> safari</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/sticky-note"><i class="fa fa-sticky-note"></i> sticky-note</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/sticky-note-o"><i class="fa fa-sticky-note-o"></i> sticky-note-o</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/television"><i class="fa fa-television"></i> television</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/trademark"><i class="fa fa-trademark"></i> trademark</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/tripadvisor"><i class="fa fa-tripadvisor"></i> tripadvisor</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/television"><i class="fa fa-tv"></i> tv <span class="text-muted">(alias)</span></a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/vimeo"><i class="fa fa-vimeo"></i> vimeo</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/wikipedia-w"><i class="fa fa-wikipedia-w"></i> wikipedia-w</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/y-combinator"><i class="fa fa-y-combinator"></i> y-combinator</a></div>
    
      <div class="fa-hover col-md-3 col-sm-4"><a href="../icon/y-combinator"><i class="fa fa-yc"></i> yc <span class="text-muted">(alias)</span></a></div>
    
  </div>

</section>
