<form>
  <h1>Please enter your email to refresh your password</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>

  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  <a ui-sref="login.form">Return</a>
</form>