
<h1 class="text-center" ng-if="login.$loggedUser.datas.username">Welcome {{ login.$loggedUser.datas.username }}</h1>
<form name="form"  novalidate>
  <div class="form-group">
    <label>Username</label>
    <input  id="name" type="text" class="form-control" ng-model="login.username" name="username" placeholder="username" required="">
    <div ng-show="form.$submitted || form.username.$touched">
      <div ng-show="form.username.$error.required">Tell us your name.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input  id="password" type="password" class="form-control" ng-model="login.password" name="password" placeholder="Password" required="">
    <div ng-show="form.$submitted || form.password.$touched">
      <div ng-show="form.password.$error.required">Enter Password.</div>
    </div>
  </div>

  <input type="submit" class="btn btn-default" ng-click="login.authenticate(form)" value="Submit"></input>

  <a ng-if="login.loginConfigs.useForgetPassword" ui-sref="login.forget">Forget Password</a>
</form>