<div class="container login-page" >
	<br>
	<div class="row ">
		<img class="center-block" src="src/assets/angularjs.jpg"/>
	</div>
	<div class="row ">
		<div class="col-lg-4"></div>
			<div class="col-lg-4 login" ui-view ></div>
		<div class="col-lg-4"></div>
	</div>
</div>
