<div class="container-fluid" >
    <loader
        working="ngLoader"
        disable-background="false"
        message="{{ ngLoaderMessage }}"
        template="8">
    </loader>
    <div id="wrapper">
	    <div ui-view="menu"></div>
        <div ui-view="content"></div>
        <div ui-view="footer"></div>
    </div>
<div>
